* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

:root {
  --primary-color: #5ece7b;
  --black-color: #000;
  --white-color: #fff;
  --secondary-color: #1d1f22;
  --gray-color: #8d8f9a;
  --third-color: #1d1f22;
  --fifth-color: #0f6450;
  --sixth-color: #ea8120;
  --seventh-color: #15a4c3;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

nav .menu-bars {
  display: none;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul .active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

nav ul a {
  color: var(--black-color);
  text-transform: uppercase;
  padding: 15px;
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.nav-btn .buy {
  border: none;
  outline: none;
}

.cargo-number {
  position: absolute;
  right: -8px;
  top: -8px;
}

.cargo-head-number {
  border-radius: 50%;
  background-color: var(--black-color);
  padding: 1px 5px;
  color: var(--white-color);
}

.cart-head {
  cursor: pointer;
}

.cart-head + .cart {
  display: block;
}

.cart {
  position: absolute;
  top: 1.3rem;
  right: 0;
  z-index: 1;
  padding: 0 1rem;
  background-color: var(--white-color);
}

.cart .cart-title {
  padding: 1rem 0;
}

.cart .cart-title .my-bag {
  font-weight: 600;
}

.cart .cargo {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.cart .cargo-name {
  color: var(--gray-color);
  font-weight: 300;
  line-height: 25.6px;
  width: 136px;
}

.cart .cost {
  color: var(--black-color);
  padding: 0.3rem 0;
}

.cart .cargo-size {
  color: var(--gray-color);
  padding: 0.5rem 0;
}

.cart .cargo-head-size {
  display: flex;
  gap: 10px;
}

.cart .cargo-head-size div {
  border: 1px solid var(--black-color);
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.cart .cargo-head-size .size-active {
  background-color: var(--black-color);
  color: var(--white-color);
}

.cart .cargo-color {
  color: var(--gray-color);
  padding: 0.6rem 0;
}

.cart .cargo-head-color {
  display: flex;
  gap: 10px;
}

.cart .cargo-head-color div {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.cart .cargo-color-1 {
  background-color: var(--gray-color);
}

.cart .cargo-color-2 {
  background-color: var(--black-color);
}

.cart .cargo-color-3 {
  background-color: var(--fifth-color);
}

.cart .img-btn {
  width: 25px;
  height: 25px;
  border: 1px solid var(--black-color);
  background-color: var(--white-color);
  cursor: pointer;
}

.cart .cargo-btn {
  display: flex;
  gap: 10px;
}

.cart .cargo-head-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.cart .cargo-color-4 {
  background-color: var(--black-color);
}

.cart .cargo-color-5 {
  background-color: var(--seventh-color);
}

.cart .cargo-color-6 {
  background-color: var(--sixth-color);
}

.cart .cargo-total .cargo-cost {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 1rem;
}

.cart .cargo-total .cargo-btn {
  display: flex;
  justify-content: space-between;
}

.cart .cargo-total button {
  height: 43px;
  width: 150px;
  padding: 16px 32px;
  text-transform: uppercase;
  border: 1px solid var(--black-color);
  background-color: var(--white-color);
  cursor: pointer;
}

.cart .cargo-total .cargo-active {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.products {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.card-header {
  position: relative;
}

.section-title {
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 42px;
}

.product-title {
  color: var(--secondary-color);
  display: block;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
  font-size: 18px;
}

.price {
  margin-top: 11rem;
  font-size: 18px;
}

.card {
  transition: all ease 0.5s;
}

.card:hover {
  box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.1);
}

.card:hover .add-to-card {
  display: flex;
}

.not-in-stock {
  opacity: 0.5;
}

.out-of-stock {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: var(--gray-color);
  width: 60%;
}

.add-to-card {
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  bottom: -1.125rem;
  display: none;
  transition: all ease 0.5s;
}

/*Tablet screen*/

@media only screen and (max-width: 768px) {
  .products {
    grid-template-columns: auto auto;
  }
}

/*Phone screen*/

@media only screen and (max-width: 425px) {
  nav ul {
    display: none;
  }

  nav .menu-bars {
    display: block;
  }

  .products {
    grid-template-columns: auto;
  }
}
